.link {
    display: block;
  
    padding: 15px 15px;
    color: white;
    font-size: 18px;
  }
  
  .link:hover {
    color: rgb(184, 184, 184);
  }
  
  .list {
    display: flex;
    gap: 12px;
  }